<mat-toolbar *ngIf="header.visible" class="header">
  <mat-toolbar-row>
    <a class="header__logo" routerLink="/" href="/"
      ><img src="/assets/images/logo.png" alt=""
    /></a>
    <span class="header__spacer"></span>
    <div class="toolbar">
      <div class="searchbox"></div>
    </div>
    <button mat-icon-button routerLink="/addvocabulary">
      <mat-icon class="header__icon" aria-hidden="true" aria-label="add"
        >add_circle_outline</mat-icon
      >
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
      <mat-icon aria-hidden="true" aria-label="menu">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        routerLink="/result"
        [queryParams]="{ mode: 'vocabularies' }"
      >
        <mat-icon color="primary">search</mat-icon>
        <span>検索</span>
      </button>
      <button mat-menu-item routerLink="/myvocabulary">
        <mat-icon color="primary">library_books</mat-icon>
        <span>My単語帳</span>
      </button>
      <button mat-menu-item routerLink="/favvocabulary">
        <mat-icon color="primary">favorite</mat-icon>
        <span>お気に入りの単語帳</span>
      </button>
      <button mat-menu-item routerLink="/setting">
        <mat-icon color="primary">settings</mat-icon>
        <span>設定</span>
      </button>
      <button *ngIf="user$ | async" (click)="logout()" mat-menu-item>
        <mat-icon color="primary">exit_to_app</mat-icon>
        <span>ログアウト</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
