<div class="vocabulary">
  <p class="vocabulary__title">
    {{ vocabulary.title }}
  </p>
  <p class="vocabulary__description">
    {{ vocabulary.description }}
  </p>
  <p class="vocabulary__tag">{{ vocabulary.tag }}</p>

  <div class="vocabulary__content">
    <p class="vocabulary__username">{{ vocabulary.author.userName }}</p>
    <ng-template #disLikedButton>
      <button
        mat-icon-button
        aria-label="heart icon"
        (click)="likeVocabulary((isLiked$ = true))"
      >
        <i class="material-icons md-dark md-inactive">
          favorite_border
        </i>
      </button>
    </ng-template>
    <button
      mat-icon-button
      aria-label="heart icon"
      *ngIf="isLiked$; else disLikedButton"
      (click)="dislikeVocabulary((isLiked$ = false))"
    >
      <i class="material-icons pink">
        favorite
      </i>
    </button>
    <p>{{ vocabulary.likedCount }}</p>
  </div>
</div>
