<div class="vocabulary">
  <p
    class="vocabulary__title"
    *ngFor="let vocabulary of vocabularies$ | async as vocabulary"
  >
    {{ vocabulary.title }}
  </p>
  <p class="vocabulary__description" *ngFor="let result of results$ | async">
    {{ result.description }}
  </p>
  <!-- <p class="vocabulary__tag" *ngIf ="results$ | async as result">{{ (result | async)?.tag }}</p> -->

  <div class="vocabulary__content">
    <button
      mat-icon-button
      disabled
      aria-label="Example icon-button with a heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
