<div class="vocabulary">
  <p class="vocabulary__title">
    {{ vocabulary.title }}
  </p>
  <p class="vocabulary__description">
    {{ vocabulary.description }}
  </p>
  <p class="vocabulary__tag">{{ vocabulary.tag }}</p>

  <div class="vocabulary__content">
    <p class="vocabulary__username">{{ vocabulary.author.userName }}</p>
    <ng-container *ngIf="user$ | async as user">
      <ng-template #disLikeButton>
        <button
          mat-icon-button
          aria-label="heart icon"
          (click)="likeVocabulary(user.uid); $event.stopPropagation()"
        >
          <i class="material-icons md-dark md-inactive">
            favorite_border
          </i>
        </button>
      </ng-template>
      <button
        mat-icon-button
        aria-label="heart icon"
        *ngIf="isLiked; else disLikeButton"
        (click)="dislikeVocabulary(user.uid); $event.stopPropagation()"
        type="button"
      >
        <i class="material-icons pink">
          favorite
        </i>
      </button>
    </ng-container>
    <p class="like">{{ likedCount }}</p>
  </div>
</div>
