.vocabulary {
  border: solid 1px #dcdcdc;
  border-radius: 8px;
  margin: 24px;
  text-align: left;
  padding-left: 16px;

  &__tag {
    color: #777;
    font-size: 12px;
  }

  &__title {
    display: flex;
    // display: -webkit-box;
    align-items: stretch;
    justify-content: space-between;
    mat-icon {
      line-height: 0.8;
    }
  }
  &__user {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  &__username {
    line-height: 1;
  }
  mat-card-content {
    margin: 0;
  }
}

.like {
  display: flex;
  button {
    width: 30px;
    i {
      line-height: 1;
    }
  }
}

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26);
}
.material-icons.pink {
  color: #ff4081;
}
