<div class="container" *ngIf="vocabulary$ | async as vocabulary">
  <h2>単語一覧</h2>
  <app-word
    *ngFor="let word of words"
    [word]="word"
    (delete)="deleteWord($event)"
  ></app-word>
  <button
    *ngIf="vocabulary.authorId === userId"
    mat-mini-fab
    color="primary"
    routerLink="/wordlist/{{ vocabulary.vocabularyId }}/addword"
    class="add"
  >
    <i class="material-icons">
      add
    </i>
  </button>
  <button mat-mini-fab color="primary" class="flash">
    <i class="material-icons">
      style
    </i>
  </button>
  <div
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="getWords()"
  ></div>
</div>
