@import 'mixins';
@import 'variables';

button {
  display: block;
  margin-bottom: 16px;
  position: fixed;
  right: 16px;
  &.add {
    bottom: 130px;
  }
  &.flash {
    bottom: 80px;
    z-index: 1000;
  }
}
.inner {
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}
