<div class="container">
  <h2>My単語帳</h2>
  <app-vocabulary
    *ngFor="let vocabulary of vocabularies$ | async"
    [vocabulary]="vocabulary"
  ></app-vocabulary>
  <button routerLink="/myvocabulary" mat-raised-button color="primary">
    もっと見る
  </button>
  <h2>お気に入りの単語帳</h2>
  <app-vocabulary
    *ngFor="let vocabulary of vocabularies$ | async"
    [vocabulary]="vocabulary"
  ></app-vocabulary>
  <button routerLink="/favvocabulary" mat-raised-button color="primary">
    もっと見る
  </button>
</div>
