<div class="container">
  <ng-template #addheading>
    <h2>単語を作成</h2>
  </ng-template>
  <h2 *ngIf="isEditing; else addheading">単語を編集</h2>
  <form
    [formGroup]="form"
    (ngSubmit)="submit(createNgForm)"
    #createNgForm="ngForm"
  >
    <mat-form-field>
      <mat-label>表面</mat-label>
      <input
        formControlName="surface"
        type="text"
        matInput
        autocomplete="off"
        required
      />
      <mat-error *ngIf="surfaceControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="surfaceControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>裏面</mat-label>
      <input
        formControlName="backside"
        type="text"
        matInput
        autocomplete="off"
        required
      />
      <mat-error *ngIf="backsideControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="backsideControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="updateWord()"
      type="button"
      *ngIf="isEditing; else addword"
    >
      編集を適用
    </button>
    <ng-template #addword>
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        (click)="goBack()"
      >
        保存する
      </button>
      <button
        [disabled]="form.invalid"
        mat-raised-button
        color="primary"
        routerLink="/wordlist/{{ vocabularyId }}/addword"
      >
        保存して次へ
      </button>
    </ng-template>
    <button type="button" mat-raised-button (click)="goBack()">
      キャンセル
    </button>
  </form>
</div>
