<div mat-dialog-content>
  <p matDialogTitle>クレジットカードを登録</p>
  <form
    mat-dialog-content
    novalidate
    (ngSubmit)="buy()"
    [formGroup]="stripeTest"
  >
    <div id="card-element" class="field"></div>
    <mat-form-field>
      <mat-label>カード名義</mat-label>
      <input
        matInput
        type="text"
        formControlName="name"
        placeholder="Taro Yamada"
        autocomplete="off"
      />
      <mat-error *ngIf="nameControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="nameControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>メールアドレス</mat-label>
      <input
        matInput
        type="text"
        formControlName="email"
        placeholder="example@email.com"
        autocomplete="email"
      />
      <mat-error *ngIf="emailControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="emailControl.hasError('email')"
        >正しいメールアドレスの形式で入力してください</mat-error
      >
    </mat-form-field>
    <div mat-dialog-actions>
      <button
        mat-button
        mat-raised-button
        color="primary"
        type="submit"
        matDialogClose
      >
        登録する
      </button>
      <button mat-button matDialogClose type="button">キャンセル</button>
    </div>
  </form>
</div>
