<div class="container">
  <h2>単語帳を作成</h2>
  <!-- ボタンを押した時に何をするかをngsubmitで定義 -->
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>名前</mat-label>
      <!-- formControlNameでcomponentのfomrの値と関連付ける -->
      <input
        formControlName="title"
        type="text"
        matInput
        autocomplete="off"
        required
      />
      <mat-error *ngIf="titleControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>説明</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>タグ</mat-label>
      <!-- formControlNameでcomponentのformの値と関連付ける -->
      <input formControlName="tag" type="text" matInput autocomplete="off" />
    </mat-form-field>
    <!-- disabledでちゃんと入力していないとボタンを押せないようにする -->
    <!-- form.invalideはformの中身がちゃんとしていない状態 -->
    <button [disabled]="form.invalid" mat-raised-button color="primary">
      作成する
    </button>
  </form>
</div>
