<div class="container">
  <ng-template #addheading>
    <h2>単語帳を作成</h2>
  </ng-template>
  <h2 *ngIf="isEditing; else addheading">単語帳を編集</h2>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>名前</mat-label>
      <input
        formControlName="title"
        type="text"
        matInput
        autocomplete="off"
        required
      />
      <mat-error *ngIf="titleControl.hasError('required')"
        >必須入力です</mat-error
      >
      <mat-error *ngIf="titleControl.hasError('maxlength')"
        >長過ぎます</mat-error
      >
    </mat-form-field>
    <mat-form-field>
      <mat-label>説明</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <ais-instantsearch [config]="config">
      <app-searchtags
        (tagEmit)="updateTag($event)"
        [tagsArray]="tagsArray"
      ></app-searchtags>
    </ais-instantsearch>
    <ng-template #addvocabulary>
      <button [disabled]="form.invalid" mat-raised-button color="primary">
        作成する
      </button>
    </ng-template>
    <button
      [disabled]="form.invalid"
      mat-raised-button
      color="primary"
      (click)="updateVocabulary()"
      type="button"
      *ngIf="isEditing; else addvocabulary"
    >
      編集を適用
    </button>
    <button type="button" mat-raised-button (click)="goBack()">
      キャンセル
    </button>
  </form>
</div>
