@import 'mixins';
@import 'variables';
button {
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
}
ul {
  padding: 0;
  margin: 0;
}

.segmented {
  display: flex;
  justify-content: space-around;
  @include primary-color {
    background: $primary-color;
  }
  padding: 2px;
  border-radius: 19px;
  &__item {
    padding: 4px;
    border-radius: 19px;
    flex-grow: 1;
    button {
      font-size: 14px;
      color: white;
    }
  }
  &--active {
    background-color: white;
    button {
      @include primary-color {
        color: $primary-color;
      }
    }
  }
}
