<div>
<h2>特定商取引法に基づく表記</h2>

<table>
  <tr>
    <td class="title">販売業者</td>
    <td>ダミー会社</td>
  </tr>
  <tr>
    <td class="title">代表責任者</td>
    <td>平沼 陽美</td>
  </tr>
  <tr>
    <td class="title">所在地</td>
    <td>東京都新宿区</td>
  </tr>
  <tr>
    <td class="title">電話番号</td>
    <td>05068679139</td>
  </tr>
  <tr>
    <td class="title">メールアドレス</td>
    <td>sun_276492_rain_248@yahoo.co.jp</td>
  </tr>
  <tr>
    <td class="title">ホームページ</td>
    <td>ダミー.com</td>
  </tr>
  <tr>
    <td class="title">販売価格</td>
    <td>決済ページをご参照ください。</td>
  </tr>
  <tr>
    <td class="title">商品以外の必要代金</td>
    <td>無し</td>
  </tr>
  <tr>
    <td class="title">引き渡し時期</td>
    <td>即時</td>
  </tr>
  <tr>
    <td class="title">お支払い方法</td>
    <td>クレジットカード</td>
  </tr>
  <tr>
    <td class="title">返品・交換・キャンセル</td>
    <td>返品・交換不可。サービス解約後一定のサービスの使用不可</td>
  </tr>
  <tr>
    <td class="title">返品送料</td>
    <td>無し</td>
  </tr>
</table>
</div>
