div {
  margin: 16px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
tr,
td {
  border: 1px solid #dcdcdc;
  padding: 8px;
}

.title {
  background-color: #3f51b5;
  color: #fff;
  width: 30%;
}
