mat-card {
  margin: 16px;
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 16px 16px 0;
  mat-card-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 90%;
    .backside {
      font-size: 16px;
      color: rgba(black, 0.6);
    }
  }
}
.hitnumber {
  text-align: left;
  margin: 16px;
  color: rgba(black, 0.6);
}
