<mat-card class="card" *ngIf="vocabulary$ | async as vocabulary">
  <mat-card-content>
    <p class="surface">{{ word.surface }}</p>
    <p class="backside">{{ word.backside }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="menu"
      (click)="$event.stopPropagation()"
    >
      <mat-icon aria-hidden="true" aria-label="menu" color="primary"
        >more_vert</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button
        mat-menu-item
        routerLink="/wordlist/{{ vocabulary.vocabularyId }}/edit"
        [queryParams]="{ wordId: word.wordId }"
        *ngIf="vocabulary.authorId === uid"
      >
        <mat-icon color="primary">edit</mat-icon>
        <span>編集</span>
      </button>
      <button
        mat-menu-item
        (click)="deleteWord()"
        *ngIf="word.authorId === uid"
      >
        <mat-icon color="primary">delete</mat-icon>
        <span>削除</span>
      </button>
      <button mat-menu-item>
        <mat-icon color="primary">volume_up</mat-icon>
        <span>音声</span>
      </button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
