<mat-form-field class="multiple-items">
  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let tags of tagsArray"
      [removable]="true"
      (removed)="remove(tags)"
    >
      {{ tags }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="タグ"
      matInput
      [formControl]="tagsControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="true"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete (optionSelected)="selected($event)" #auto="matAutocomplete">
    <mat-option [value]="item" *ngFor="let item of tagOptions">{{
      item.label
    }}</mat-option>
    <!--
    <mat-option [value]="item" *ngFor="let item of state.items">{{
      item.label
    }}</mat-option> -->
  </mat-autocomplete>
</mat-form-field>
